name: Ensure Dev Code is QAed

on:  #Triggers of the workflow
  push:
  pull_request:
    branches:
      - badSource

jobs: 
  test-ci-job:
    runs-on: ubuntu-latest  #O.S. Selection
    steps: 
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          node-version: "16"

      - name: Test Lint
        run: npm run lint

      - name: Test Coverage
        run: npm run test:coverage